%h1 Hi, I'm Bartosz!
%p.lead
  You can go through this timeline to know me better or just click in menu to look at boring CV

// show records from item model
.container
  .d-flex.p-4
    - @items.each do |item|
      = image_tag item.header_image, class: "img-fluid", style: "max-width: 500px" if item.header_image.attached?
      .p-2
        %h2= item.title
        %p= item.description
